div {
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}
.satu {
    background-color: pink;
    padding: 10px;
    border: 5px solid red;
}
.dua {
    background-color: peachpuff;
    padding: 30px;
    border: 10px dashed orange;
}